* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../Images/blue.jpg);
    width: 100%;
}

body img {
    /* display: inline-block; */
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 1%;
    float: right;
}

h1, h2 {
    padding: 10px 12px;
    color:rgb(0, 139, 132);
    text-align: center;
}

.topnav a {
    /* position: sticky; */
    float: right;
    color: rgb(0, 106, 85);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

nav a {
    text-decoration: none;
    color:darkslategrey;
    font-weight:bolder;
}

#about {
    /* box-sizing: content-box; */
    width: 100%;

}

p {
    text-align: left;
    color:rgb(0, 230, 218);
    margin-top: 50px;
    padding-left: 20px;
}

#contact {
    position: relative;    
    right: 50%;
}

#foot {
    position: fixed;
    bottom: 0;
    opacity: 50%;
}